* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #989D9C;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin-right: 23px;
    cursor: pointer;
}

#b1 {
    width: 130px;
    height: 41px;
    background-color: #665AE1;
    border-radius: 900px;
    border: none;
    cursor: pointer;

    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

header {
    margin: 44px 0 144px 76px;
}

img {
    display: inline-block;
}

main {
    display: inline-block;
    width: 520px;
    margin-left: 86px;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: normal;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
    line-height: normal;
}

p {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin: 32px 0 65px 0;
}

#b2 {
    width: 239px;
    height: 64px;
    border-radius: 910px;
    background: #ADFF00;
    cursor: pointer;
    border: none;

    color: #000;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}

a:hover {
    opacity: .8;
}

a:active {
    opacity: .6;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .6;
}

@media screen and (max-width: 1200px) {
    img {
        width: 32%;
        height: 32%;
        margin-top: 200px;
    }
    h1{
        font-size: 70px;
        font-weight: 700;
    }

    h2 {
        font-size: 45px;
        font-weight: 380;
    }

    p {
        font-size: 19px;
        font-weight: 280;
    }

    #b2 {
    width: 160px;
    height: 30px;
    border-radius: 100px;

    font-size: 10px;
    font-weight: 300;
    }

    a {
        font-size: 18px;
       font-weight: 480;
       margin-right: 17px;
    }

    #b1 {
        width: 60px;
        height: 20px;
        border-radius: 100px;

        font-size: 12px;
        font-weight: 300;
    }

    main {
        margin-top: 200px;
    }

}

@media screen and (max-width: 920px) {
    img {
        display: block;
        margin-left: 200px;
    }

    main {
        display: block;
        margin-top: 60px;
    }

    #b2 {
        margin-left: 130px;
    }

}

@media screen and (max-width: 650px) {

    header{
        margin: 0;
        padding: 0;

    }

    a {
        font-size: 10px;
        font-weight: 200;
        margin-right: 10px;
    }

    #b1 {
        width: 30px;
        height: 10px;
        border-radius: 20px;

        font-size: 6px;
        font-weight: 100;
    }

    img {
        width: 60%;
        height: 60%;
        margin: 160px 0 0 50px;
    }

    h1{
        font-size: 40px;
        font-weight: 400;
    }

    h2 {
        font-size: 20px;
        font-weight: 200;
    }

    p {
        font-size: 10px;
        font-weight: 130;
    }

    #b2 {
        width: 80px;
        height: 13px;
        border-radius: 10px;
    
        font-size: 10px;
        font-weight: 180;
        

        margin: 0;
        padding: 0;
        }

        main {
            width: 150px;
        }
}